.idea/
*.iml
.DS_Store
cache/
target/
snapshot/
archive/
old/
backlinks/
org.dbpedia.data/
links/dbpedia.org/gadm.geovocab.org/scripts/gadm-linksRaw.nt
links/dbpedia.org/gadm.geovocab.org/scripts/logger.log
