
th
{
    font-weight: 600;
}

.link-vizzz
{
    color: #363636;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    line-height: 1.125;
}

.section.top
{
    padding: 0;
}



.linklist .project-line
{

	border-bottom: 1px solid #DFDFDF;
}

.linklist .project-line.expanded
{
    
    margin: -0.5rem;
    z-index: 99;
    border: 1px solid #DFDFDF;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, .2) 2px 2px 10px;
}

.linklist .project-line .inner
{
    padding: 1rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.linklist .project-line .inner .expandible
{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex: 1 1 auto;
    cursor: pointer;
}

.linklist .project-line .expand
{
    padding: 2rem;
}

.linklist .project-line .expand .content-section
{
    max-width: 900px;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #DFDFDF;
}

.linklist .project-line .expand .content-section:last-child
{
    border-bottom: none;
}


.linklist .project-line .expand .content-section h1
{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.linklist .project-line .inner .icons
{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex: none;
}

.linklist .project-line .inner .icons .icon
{
    margin: 0px 10px;
}

.linklist .project-line .inner .chevron
{
    flex: none;
    padding: 1rem;
}

.linklist .project-line .inner .name
{
    flex: 1 1 auto;
}

.linklist .project-line .inner .icons
{
    flex: none;
    padding: 1rem;
}

.linklist .project-line .expand .content-section.issue-box
{

}

.linklist .project-line .expand .content-section.issue-box ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    word-wrap: break-word;
}


.linklist .project-line .expand .content-section.issue-box li.warn b
{
    color: #FABE5C;
}

.linklist .project-line .expand .content-section.issue-box li.error b
{
    color: #FF7777;
}



.flex-table .flex-row
{
    display: flex;
    word-wrap: break-word;
    padding: .5rem;
    border-bottom: 1px solid #DFDFDF;
}

.flex-table .flex-row:hover
{
    background-color: #F5F5F5;
}

.flex-table .flex-row:last-child
{
    border-bottom: none;
}

.flex-table .flex-row
{
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-word;
    padding: .5rem;
    border-bottom: 1px solid #DFDFDF;
}

.flex-table .flex-row .flex-cell
{
    flex: 1 1 auto;
}

.flex-table .flex-row .flex-cell:first-child
{
    width: 400px;
    flex: none;
    font-weight: 600;
}

.flex-table .flex-row .flex-cell:last-child
{
    width: 400px;
    max-width: 100%;
    flex: none; 

}




.data-globalStats-outer
{
    height: 100vh;  
    width: 100%;
    display: flex;
    align-items: center;
}

.data-globalStats
{
    height: 70%;
    width: 100%;
}

.data-globalStats-chart
{
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.data-globalStats-bar
{
    background-color: #FABE5C;
    padding: 0px;
    margin: 1px;
}

.data-globalStats-bar:hover
{
    background-color: #FEE291;
}

.data-globalStats-text
{
    pointer-events:none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.chart .bar {
  font: 12px sans-serif;
  text-align: right;
  padding: 5px;
  margin: 1px;
}

.diagram-bar
{
    height: 5px;
    margin: 1px;
    padding: 0;
    background-color: #FABE5C;
    width: 0;
}

.bar-label {
	 font: 12px sans-serif;
}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .popup {
    visibility: hidden;
    background-color: #555;
    border-radius: 3px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    transform: translateX(-50%);
    left:50%;
    margin-bottom: 12px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;

    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #fff;
    font-size: 1rem;
    padding: .6rem;
    white-space: nowrap;
    text-align: center;
}

.tooltip .text {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 10px 10px;
    border-radius: 3px;
    font-size: 1rem;
    max-width: 300px;

    /* Position the tooltip text */
    position: relative;
    z-index: 1;
    bottom: 100%;
    transform: translateX(-50%);
    left:50%;
    margin-bottom: 12px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .popup::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .popup {
    visibility: visible;
    opacity: 1;
}








.githublink {
    color: #2B4253;
}

.project-icons span
{
    margin: 0px 10px;
}

.revision-chart ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.revision-chart li
{
    height: 10px;
    background-color: #FABE5C;
}

.description-box
{
    margin-bottom: 1rem;
}

.details-table td:first-child
{
    min-width: 200px;
}

.details-table td:last-child
{
    overflow-wrap: break-word;
    word-wrap: break-word;

    z-indexms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

tr:last-child td
{
    border: none;
}

.revision-chart
{
    width: 100%;
    margin-top: 2rem;
    padding: 2px;
}

.revision-chart-row 
{
    display: flex;
    align-items: center;
    margin: 1px;
}

.revision-chart-row .chart-first
{
    flex: none;
    font-size: 0.75rem;
    text-align: right;
    width: 80px;
    margin-right: 5px;
}

.revision-chart-row .chart-second
{
    flex: 1 1 auto;
    display: flex;
}

.revision-chart-row .bar
{
    height: 100%;
    background-color: #FABE5C;
    font-size: 0.75rem;
    text-align: right;
    color: #fff;
    padding: 0px 5px;
}
