


.link-vizzz
{
    color: #363636;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    line-height: 1.125;
    padding: 150px 0px;
}

.linklist .linkset-line
{
	padding: 12px;
	border-bottom: 1px solid #DFDFDF;
}

.linkset-header
{
	height: 50px;
	padding: 12px;
	font-weight: 500;
	border-bottom: 1px solid #AFAFAF;
}

.chart .bar {
  font: 12px sans-serif;
  text-align: right;
  padding: 10px;
  margin: 1px;
}

.bar-label {
	 font: 12px sans-serif;
}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 10px 10px;
    border-radius: 6px;
    font-size: 1rem;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}